

.container :global(.vtex-button__label){
    padding: 0;
}

.container :global(.vtex-button__label)::before{
    content: "";
    background-image: url(/arquivos/icon-cuenta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 40px;
    height: 40px;
}

.profileIcon{
    display: none;
}

.container :global(.vtex-button):hover{
    background-color: transparent;
    color: #da1714;
}