.flexRowContent--top-header{
    padding: 10px 2%;
}

.flexRowContent--top-banner-redes{
    width: 58em;
}

.flexRowContent--menus-header{
    padding: 0 2%;
}

.flexColChild--left-menu{
    min-width: 42em;
}

.flexColChild--right-menu{
    min-width: 17em;
}