.nameContainer{
    padding: 16px 1rem;
}

.productNameContainer{
    max-height: 1.188rem;
}

.element :global(.vtex-button){
    visibility: hidden;
}

.element:hover :global(.vtex-button){
    visibility: visible;
}